* {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

header h1{
  color: #ffe81f;
  text-align: center;
}

body{
  margin: 2%;
}

table{
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}

table, th, td {
  border: 1px solid white;
}

th {
  background: black;
  color: #ffe81f;
  font-weight: bold;
  height: 3rem;
}

td {
  padding-left: 8px;
  height: 2.5rem;
}

.table-div{
  padding-left: 5%;
  padding-right: 5%;
}

.light-grey-line{
  background: #dadada;
}